body {
    margin: 0%;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "sec1"
        "sec2"
        "footer"
    ;
}

header {
    margin-top: 1%;
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1%;
    border: 5px solid black;
}

header img {
    border: 3px solid black;
    width: 100%;
    max-width: 130px;
    height: auto;
}

nav {
    border: 3px solid black;
    justify-content: center;
    grid-area: nav;
    margin: 3%;
    border-radius: 20px;
    background-color: azure;
}

nav a {
    margin: 0 20px;
    font-size: 18px;
}

#sec1 {
    margin: 1%;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 1%;
    grid-area: sec1;
    background-color: rgb(237, 178, 101);
    padding: 2%;
}

#sec2 {
    margin: 1%;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 1%;
    grid-area: sec2;
    background-color: rgb(237, 178, 101);
    padding: 2%;
}

h2,
h3 {
    text-align: center;
    padding: 1%;
}

footer {
    border: 2px solid black;
    border-radius: 20px;
    margin: 1%;
    grid-area: footer;
    margin-top: 1%;
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
}

#license-explanation {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}



/* FORMATO PARA TABLET */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "sec1"
            "sec2"
            "footer";
    }
}


/* FORMATO PARA PANTALLA DE ESCRITORIO */
@media only screen and (min-width: 1025px) {
    #container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "sec1 sec1 sec1 sec1"
            "sec2 sec2 sec2 sec2"
            "footer footer footer footer";
    }


    header {
        min-width: 90%;
        grid-column: 1 / span 4;
        justify-self: center;

    }

    nav {
        text-align: center;
        grid-column: 2 / span 2;

    }

    #sec1 {
        grid-column: 2 / span 2;
    }

    #sec2 {
        grid-column: 2 / span 2;
    }

}